/* app css stylesheet */

body {
    padding-top:70px;
}
.post-text{
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    min-height: 600px
}


  